
<!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- fullscreen styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullscreen.css') }}">

<!-- JAVASCRIPT -->

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script   src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"   integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://www.youtube.com/player_api"></script>
    <script src="{{ url_for('static', filename='js/modernizer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slides.js') }}"></script>

    <!-- populates search autocomplete -->
    <script src="{{ url_for('static', filename='js/search_autocomplete.js') }}"></script>
    <!-- creates youtube player, autoplay, autonext -->
    <script src="{{ url_for('static', filename='js/youtube-api-custom.js') }}"></script>
    <!-- full screen settings - launch, exit, idle -->
    <script src="{{ url_for('static', filename='js/fullscreen-settings.js') }}"></script>

    <base target="_blank">
