  <div class="row">
       <div class="col-md-12 footer">
        <footer>

                    <div class="container-fluid text-center">
                        <p><a href="">About</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Feedback</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Report a Problem</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="">Contact</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href=
                        ""><strong>Donate</strong></a></p>
                        <p>&copy; Zidia</p>
                    </div>

        </footer>
       </div>
    </div>