        <div class="row top-slider" id="thumbnails">
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
               <div class="nav-slider" id="thumbnails">
                   {% for item, idx, thumb_title, duration, thumb_title_full in thumb_urls %}
                    <div class="slide">
                        <div class="crop">
                        <a title="{{ thumb_title_full }}" target="_top" href="{{ idx }}"><img width="290" src="http://img.youtube.com/vi/{{ item }}/0.jpg"></a>
                        </div>
                        <div class="thumb-info">
                        <p title="{{ thumb_title_full }}" class="thumb-title">{{ thumb_title }}</p>
                        <p class="duration"><span>{{ duration }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>